@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Sass Variables
$coffee: #f4a460;
$brown: #674d43;
$pumpkin: #d65923;
$purple: #281a1f;

// MOBILE-FIRST STYLESHEET
// Important - this stylesheet is used to extend and override bootstrap styles.

// Extra small devices (portrait phones, less than 576px
// No media query for 'xs' since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  height: 100vh;
  font-size: 1.2rem;
  background-color: $purple;
  font-family: 'Cantarell', sans-serif;
}

main {
  overflow: hidden;
}

.navbar-brand,
h1,
h2 {
  font-family: 'East Sea Dokdo', cursive;
}

h2 {
  font-size: 3rem;
}

.navbar-brand {
  font-size: 3.5rem;
}

.navbar img {
  height: 2.5rem;
  padding-bottom: 0.5rem;
}

.navbar {
  background: #000;
}

#main-navbar a,
#main-navbar a:visited {
  color: #fff;
}

#main-navbar a:hover {
  border-bottom: 2px solid $coffee;
}

#navbar-brand-text a,
#navbar-brand-text a:visited {
  color: #fff;
}

#navbar-brand-text a:hover {
  color: $coffee;
  text-decoration: none;
  border: none;
}

video {
  // max-width: 100%;
  // top: 0;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.blur {
  backdrop-filter: blur(10px);
  // background-color: rgba(68, 36, 6, 0.35);
  background-color: transparentize($coffee, 0.65);
  border-radius: 0.5rem;
}

section {
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
}

form,
#success-alert {
  max-width: 30rem;
  margin: 0 auto;
}

footer {
  background-color: $brown;
}

.btn-register {
  background-color: transparentize($pumpkin, 0.25);
}

.alert.xs {
  font-size: 0.75rem;
}

#phone-rates {
  font-size: 0.75rem;
}

#rules a,
#rules a:visited {
  color: #fff;
}

#rules a:hover {
  text-decoration: none;
  color: $pumpkin;
  font-weight: bold;
}
